<nav class="">
    <ul>
        <li> <%= link_to "Store Home", store_path %> </li>
        <%= render 'layouts/nav_links_for_auth' %>
        <% if !!@cart %>
          <li> <%= link_to "Cart", cart_path(current_cart) %></li>
        <% end %>
    </ul>
</nav>